<!Doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="description" content="$1">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" type="text/css" href="style.css">

<title>test</title>


</head>
<body>

<div class="container" style="text-align: left;">
                {% for result in data %}
                <p>{{ result.datetime }}</p>
                <p style="font-size: x-large;"><b>{{result.id}}# {{result.name }}</b> napisał(a):</p> 
                <p style="
                border: 1px solid gray;
                border-radius: 10px;
                padding: 15px;
                background-color: white;">
                <span style="white-space: pre-line;">{{result.text }}</span> </p>
                <br/>
               {% else %}
                <p>Brak wpisów </p>
               {% endfor %}
             </div>
</form>

</body>
</html>